[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "grpc"]
	path = grpc
	url = git@github.com:grpc/grpc.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
[submodule "googleapis"]
	path = googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "libcxx"]
	path = libcxx
	url = https://git.llvm.org/git/libcxx
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "git-multimail"]
	path = git-multimail
	url = git@github.com:git-multimail/git-multimail.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:jenkinsci/jenkins.git
[submodule "boost"]
	path = boost
	url = git@github.com:boostorg/boost.git
[submodule "libunwind"]
	path = libunwind
	url = git@github.com:llvm-mirror/libunwind.git
[submodule "llvm"]
	path = llvm
	url = git@github.com:llvm-mirror/llvm.git
[submodule "libcxxabi"]
	path = libcxxabi
	url = git@github.com:llvm-mirror/libcxxabi.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = git@github.com:llvm-mirror/compiler-rt.git
[submodule "lld"]
	path = lld
	url = git@github.com:llvm-mirror/lld.git
[submodule "clang"]
	path = clang
	url = git@github.com:llvm-mirror/clang.git
[submodule "gcovr"]
	path = gcovr
	url = git@github.com:gcovr/gcovr.git
[submodule "cmake-modules"]
	path = cmake-modules
	url = git@github.com:bilke/cmake-modules.git
[submodule "gcc"]
	path = gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "lcov-to-cobertura-xml"]
	path = lcov-to-cobertura-xml
	url = git@github.com:eriwen/lcov-to-cobertura-xml.git
[submodule "jenkins-ctest-plugin"]
	path = jenkins-ctest-plugin
	url = https://github.com/rpavlik/jenkins-ctest-plugin.git
[submodule "inline-source"]
	path = inline-source
	url = git@github.com:popeindustries/inline-source.git
[submodule "inline-source-cli"]
	path = inline-source-cli
	url = git@github.com:popeindustries/inline-source-cli.git
[submodule "CMake"]
	path = CMake
	url = https://github.com/Kitware/CMake.git
[submodule "coreutils"]
	path = coreutils
	url = git://git.savannah.gnu.org/coreutils.git
[submodule "gnulib"]
	path = gnulib
	url = git://git.savannah.gnu.org/gnulib.git
[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "azure-pipelines-agent"]
	path = azure-pipelines-agent
	url = git@github.com:Microsoft/azure-pipelines-agent.git
[submodule "typescript.el"]
	path = typescript.el
	url = git@github.com:ananthakumaran/typescript.el.git
[submodule "jenkins-plugins/git-plugin"]
	path = jenkins-plugins/git-plugin
	url = git@github.com:jenkinsci/git-plugin.git
[submodule "jenkins-plugins/tfs-plugin"]
	path = jenkins-plugins/tfs-plugin
	url = git@github.com:jenkinsci/tfs-plugin.git
[submodule "jenkins-plugins/generic-webhook-trigger-plugin"]
	path = jenkins-plugins/generic-webhook-trigger-plugin
	url = git@github.com:jenkinsci/generic-webhook-trigger-plugin.git
[submodule "jenkins-plugins/scm-api-plugin"]
	path = jenkins-plugins/scm-api-plugin
	url = git@github.com:jenkinsci/scm-api-plugin.git
[submodule "jenkins-plugins/git-client-plugin"]
	path = jenkins-plugins/git-client-plugin
	url = git@github.com:jenkinsci/git-client-plugin.git
[submodule "jenkins-plugins/script-security-plugin"]
	path = jenkins-plugins/script-security-plugin
	url = git@github.com:jenkinsci/script-security-plugin.git
[submodule "jenkins-plugins/cobertura-plugin"]
	path = jenkins-plugins/cobertura-plugin
	url = git@github.com:jenkinsci/cobertura-plugin.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
[submodule "crc32c"]
	path = crc32c
	url = git@github.com:google/crc32c.git
[submodule "nghttp2"]
	path = nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:kubernetes/kubernetes.git
[submodule "go"]
	path = go
	url = https://go.googlesource.com/go
