[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "grpc"]
	path = grpc
	url = git@github.com:grpc/grpc.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
[submodule "googleapis"]
	path = googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "libcxx"]
	path = libcxx
	url = https://git.llvm.org/git/libcxx
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "git-multimail"]
	path = git-multimail
	url = git@github.com:git-multimail/git-multimail.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:jenkinsci/jenkins.git
[submodule "boost"]
	path = boost
	url = git@github.com:boostorg/boost.git
